name: Culprit Finder Workflow

on:
  workflow_dispatch:
    inputs:
      workflow-to-debug:
        description: "Which workflow should be run?"
        type: string
        default: ""
        required: true


concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}


jobs:
  bisect-python-tests:
    if: ${{ inputs.workflow-to-debug == 'python_tests.yml' }}
    uses: ./.github/workflows/python_tests.yml
    name: Bisect Python Tests