name: Python Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:
  workflow_call:

jobs:
  python-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - name: Install package
        run: pip install .
      - name: Test
        run: python tests/test_hello_world.py
